.expanding-search-bar {
  padding: 4px;
}
.expanding-search-bar .search-bar {
  width: 33%;
  min-width: 320px;
  border: 1px solid var(--search-border);
  border-radius: 4px;
  transition: all 0.5s;
}
.expanding-search-bar .search-bar:focus {
  width: 100%;
  border-color: var(--search-focus-border);
  outline: none;
}
.expanding-search-bar .search-bar::placeholder {
  font-weight: 200;
}
.expanding-search-bar .search-bar:focus::placeholder {
  color: transparent;
}
