.codepen-tile {
  .card {
    border-radius: 8px;
    background-color: var(--bg-card);
    color: white;
    font-family: var(--font-main);
    max-width: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: all 0.3s;

    p,
    li {
      color: var(--username);
    }

    .card-thumbnail {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .card-body {
      display: flex;
      gap: 16px;

      .card-avatar > img:first-of-type {
        width: 100%;
        max-width: 50px;
        /* max-width: 100%; */
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .card-stats {
      display: none;
      list-style: none;

      li {
        background-color: var(--bg-stats);
        display: inline;
        padding: 4px;
        border-radius: 4px;
      }
    }
  }

  .card:hover .card-stats {
    display: block;
  }
}
