.archery-target .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.archery-target .container .ring {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.archery-target .container .ring-1 {
  width: 8em;
  height: 8em;
  background-color: var(--black);
}
.archery-target .container .ring-2 {
  width: 6em;
  height: 6em;
  background-color: var(--blue);
}
.archery-target .container .ring-3 {
  width: 4em;
  height: 4em;
  background-color: var(--red);
}
.archery-target .container .bullseye {
  width: 2em;
  height: 2em;
  background-color: var(--yellow);
}
