.github-profile-layout .profile-content {
  margin: 8px;
  font-family: var(--github-font-main);
  color: var(--github-profile-color);
  min-width: 250px;
  max-width: 400px;
  padding: 1em 2em;
  background-color: var(--github-profile-bg);
}
.github-profile-layout .profile-content img {
  max-width: 100%;
  border: 2px solid var(--github-profile-img-border);
  border-radius: 50%;
}
.github-profile-layout .profile-content .profile-details {
  padding: 1em 0;
}
.github-profile-layout .profile-content .profile-details h2,
.github-profile-layout .profile-content .profile-details h3 {
  margin: 0;
}
.github-profile-layout .profile-content .profile-details h3 {
  color: var(--github-username-font-color);
  font-size: 1em;
  font-weight: var(--github-username-font-weight);
}
.github-profile-layout .profile-content .profile-details p {
  color: var(--github-username-font-color);
  font-size: 1em;
  margin-block: 1em;
}
.github-profile-layout .profile-content .profile-details button {
  font-family: inherit;
  /* to force inherit from parent as button by default has its default font family */
  font-size: 1em;
  background-color: var(--github-btn-bg);
  color: var(--github-btn-color);
  border: 1px solid var(--github-btn-border);
  border-radius: 4px;
  width: 100%;
  padding: 0.25em 0;
}
.github-profile-layout .profile-content .profile-details button:hover {
  cursor: pointer;
  background-color: var(--github-btn-bg-hover);
  border-color: var(--github-btn-border-hover);
}
