:root {
  /*  */
  --spoiler-color: #000;
  /*  */
  --font-family: "Karla", sans-serif;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
  /*  */
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
  /*  */
  --font-main: "Noto Sans", sans-serif;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
  /*  */
  --color-light: lightgray;
  --color-dark: darkgray;
  /*  */
  --black: #282828;
  --blue: #2892f9;
  --red: #fb2f27;
  --yellow: #fdfe29;
  /*  */
  --bg-word: #5134ff;
  /*  */
  --flag-height: 150px;
  --france-red: #ed2938;
  --france-white: #fff;
  --france-blue: #002495;
  --germany-black: #000000;
  --germany-red: #de0002;
  --germany-yellow: #ffce00;
  --madagascar-white: #ffffff;
  --madagascar-red: #fc3e32;
  --madagascar-green: #007e39;
  --switzerland-white: #fff;
  --switzerland-red: #ff0002;
  --japan-white: #ffffff;
  --japan-red: #bc022c;
  --sweden-blue: #0269a6;
  --sweden-yellow: #fecc00;
  --niger-orange: #e15307;
  --niger-white: #ffffff;
  --niger-green: #10af2a;
  /*  */
  --github-font-main: "Noto Sans", sans-serif;
  --github-main-bg: #000;
  --github-profile-bg: #0d1117;
  --github-profile-color: #c9d1d9;
  --github-profile-img-border: #2e343b;
  --github-username-font-color: #8b949e;
  --github-username-font-weight: 400;
  --github-btn-bg: #21262d;
  --github-btn-color: #c9d1d9;
  --github-btn-bg-hover: #30363d;
  --github-btn-border: #373b43;
  --github-btn-border-hover: #8c949e;
  /*  */
  --toggle-switch-bg: #232428;
  --toggle-border: #232428;
  --toggle-bg: #fff;
  --toggle-width: 100px;
  --toggle-height: 40px;
  --toggle-border-width: 3px;
  /*  */
  --card-height: 200px;
  /*  */
  --animated-progress-bar-stage-1: 25%;
  --animated-progress-bar-stage-2: 50%;
  --animated-progress-bar-stage-3: 75%;
  --animated-progress-bar-stage-4: 100%;
  --animated-progress-bar-progbar-bg: lightgray;
  --animated-progress-bar-stage-1-bg: red;
  --animated-progress-bar-stage-2-bg: orangered;
  --animated-progress-bar-stage-3-bg: greenyellow;
  --animated-progress-bar-stage-4-bg: green;
  /*  */
  --flip-card-blue: #060ce9;
  --flip-card-font-color: #fff;
}
